*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #33425b;
    color: #FFF;
    height: 100vh;
}
input {
    text-align: right;
}
.tbar-top {
    height: 60px;
    color: #666;    
    margin-bottom: 10px;
    background: rgb(22,26,66);
    background: linear-gradient(180deg, rgba(22,26,66,1) 0%, rgba(51,66,91,1) 100%);
}
.tbar-top h1 {
    margin-left: 40px;
    
}
.content {
    display: flex;
    flex:1;
}
.content-left {
    width: 200px;
    background-color: #161a42;
    background: rgb(22,26,66);
    background: linear-gradient(90deg, rgba(22,26,66,1) 0%, rgba(51,66,91,1) 100%);
}
li {
    color: #666;
    list-style: none;
    height: 40px;
    width: 200px;
    line-height: 40px;
    padding-left: 20px;
    border-bottom: 1px solid #33425b;
    transition: 0.3s;
}
.content li:hover {
    color: #fff;
    border-left: 20px solid rgba(22, 230, 22, 0.73);
}
.active {
    color: #fff;
    background-color: #33425b;
}
.content-reight {
    /* flex:1; */
    background-color: #33425b;
}
.by {
    margin: 40px;
    width: 420px;
}
.by-item {
    padding: 20px;
    line-height: 2;
}
.by-active {
    display: none;
}
.by-item-bottom {
    display: flex;
    border-top: 1px solid #888;
}
.by-item-bottom-div {
    width: 100px;
    text-align: center;
    line-height: 64px;
    border: 1px solid #888;
}